APP_ENV_LEVEL=prod# prod, dev
APP_PORT=50051

DB_HOST=localhost
DB_PORT=5432
DB_NAME=order-service
DB_USER=postgres
DB_PASSWORD=postgres

ZOOKEEPER_CLIENT_PORT=2181

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENERS=PLAINTEXT://:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092